@use "sass:list";

$scale: 3;
$height: calc(257 / $scale);
$width: calc(170 / $scale);
$y-padding: calc((286 - 258) / $scale);
$x-padding: calc((201 - 170) / $scale);

#game {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ". player-minus-2 player-minus-2. chat"
    "player-minus-1 draw-pile discard-pile player-minus-3 chat"
    ". player-current player-current. chat";
}

.player {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;

  .username {
    text-align: center;
  }

  .player-hand {
    .uno-card {
      width: #{calc($width / 3)}px;

      &:last-child {
        width: #{$width}px;
      }
    }
  }
}

.chat {
  grid-area: chat;
}

.player-hand {
  display: flex;
}

.player-current {
  grid-area: player-current;
}

.player-minus-1 {
  grid-area: player-minus-1;
  transform: rotate(90deg);
}

.player-minus-2 {
  grid-area: player-minus-2;
  transform: rotate(180deg);
}

.player-minus-3 {
  grid-area: player-minus-3;
  transform: rotate(-90deg);
}

.draw-pile {
  grid-area: draw-pile;
  justify-self: end;
  padding-right: 2px;
  align-self: center;
}

.discard-pile {
  grid-area: discard-pile;
  justify-self: start;
  padding-left: 2px;
  align-self: center;
}

.uno-card {
  background-image: url("/images/cards.png");
  background-size: calc(2572px / $scale) calc(1397px / $scale);
  height: #{$height}px;
  width: #{$width}px;
}

$colors: ("red": 0, "blue": calc($height + $y-padding), "yellow": calc(($height + $y-padding) * 2), "green": calc(($height + $y-padding) * 3), "special": calc(($height + $y-padding) * 4));
@each $color, $offset in $colors {
  .#{$color} {
    background-position-y: -#{$offset}px;
  }
}

$cards: ("zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "skip", "reverse", "draw-two");
@for $i from 1 through 13 {
  .#{list.nth($cards, $i)} {
    background-position-x: -#{calc(($i - 1) * ($width + $x-padding))}px;
  }
}